* {
  color: #000;
}

a {
  color: #000;
}

code {
  color: #000;
  font-weight: bold;
}

.tabs, .noprint {
    display: none;
}

.hero-unit {
  margin-bottom: 20px;
  padding: 10px;
}

.btn.info {
  color: #000;
  background: white;
}