<h1><%= @event.name %> dashboard</h1>

<%= render :partial => '/shared/flash' , :locals => {:flash => flash} %>

<div>Robots made it through the maze</div>
<div>Twitter Account</div>
<div>Flickr Photos</div>


