<h1><%= @event.name %> dashboard</h1>

<% if flash[:notice] %>
<div class="notice"><%= flash[:notice] %></div>
<% end %>

<div>Robots made it through the maze</div>
<div>Twitter Account</div>
<div>Flickr Photos</div>


