<h1>Resources</h1>

<p>If you enjoyed today, this is only the tip of the iceberg, there are plenty of other ways to explore computer programming in a fun way.</p>

<h2>Lego Mindstorms</h2>
<p>
<blockquote>With LEGO MINDSTORMS you can build and program robots that do what you want! With the contents in the set you get everything you need to build and program your very own intelligent LEGO robot, and make it perform loads of different operations.
The robot can be fitted, for example, with sensors which control motors and react to light, sound, touch, etc.</blockquote>
</p>
<p><a href="http://mindstorms.lego.com">http://mindstorms.lego.com</a></p>

<h2>Code Academy</h2>
<p>If you'd like to learn something you can use on the web, check out Code Academy - learn Javascript with your friends here with a simple interactive interface.</p>
<p><a href="http://www.codecademy.com/">http://www.codecademy.com/</a></p>

<h2>Try Ruby</h2>
<p>
<blockquote>Ruby is a programming language from Japan (available at ruby-lang.org) which is revolutionizing the web. The beauty of Ruby is found in its balance between simplicity and power.</blockquote>
</p>
<p><a href="http://tryruby.org/">http://tryruby.org/</a></p>

<h2>Rails for Zombies</h2>
<p>If you liked "<a href="http://tryruby.org/">Try Ruby</a>", why not try Ruby on Rails - learn how to build applications for the web (and learn a skill you can use in industry).</p>
<p><a href="http://railsforzombies.org/">http://railsforzombies.org/</a>

<h2>Scratch</h2>
<p>
<blockquote>Scratch is a programming language that makes it easy to create your own interactive stories, animations, games, music, and art — and share your creations on the web. As young people create and share Scratch projects, they learn important mathematical and computational ideas, while also learning to think creatively, reason systematically, and work collaboratively.</blockquote>
<a href="http://scratch.mit.edu/">http://scratch.mit.edu/</a>
</p>

<h2>Alice</h2>
<p>
<blockquote>Alice is an innovative 3D programming environment that makes it easy to create an animation for telling a story, playing an interactive game, or a video to share on the web. Alice is a freely available teaching tool designed to be a student's first exposure to object-oriented programming.</blockquote>
<a href="http://www.alice.org/">http://www.alice.org/</a>
</p>

<h2>Processing</h2>
<p>
<blockquote>Processing is an open source programming language and environment for people who want to create images, animations, and interactions.</blockquote>
<a href="http://processing.org/">http://processing.org</a>
</p>

<h2>Want more?…</h2>
<img src="http://codingforkids.org/w/images/Coding-for-kids-v3_reasonably_small.png" />
<p>Check out the new movement that is "<a href="http://codingforkids.org">Coding for Kids</a>" who are striving to find ways to support the education of programming and educational thinking for the current and next generations in the UK. They have a large list of resources <a href="http://codingforkids.org/wiki/Learning_resources_and_blogs_etc">here</a>.</p>
<p></p>
  
