
<h1><%=h @attempt.name %></h1>
<div class="alert-message success">
	<em>Congratulations</em>, you've submitted your program !
</div>

<div class="container">
  <div class="hero-unit">
  <h1><%= @attempt.token %></h1>
  <p>This is your token. <code>Write it down</code> and <code>take it through to the Robing Room</code> where you will be able to see what path you have made the robot take.</p>
  <p>Write down <code>Mazey</code> if you program is meant for the Maze Robot or <code>Penny</code> if your program is for the Drawing Robot.</p>
  </div>
</div>

<h2>Your Program:</h2>
<pre class="prettyprint">
<%=h @attempt.program %>
</pre>
<%= link_to 'edit', edit_event_attempt_path(@event, @attempt), :class => "btn primary" %>
